<app-breadcrumb [titleRoute]="'Producto'"></app-breadcrumb>
<div class="row">
    <div class="col-md-12">
        <div class="card-box">
            <h4 class="header-title">{{title}}</h4>
            <br>
            <form [formGroup]="productForm" (ngSubmit)="onSubmit()">
                <div class="form-row">
                    <div class="form-group col-md-4 text-center">
                        <app-modal-file-upload (closetModal)='imageSelectedAction($event)'></app-modal-file-upload>
                    </div>
                    <div class="form-group col-md-8">
                        <label for="inputDescription" class="col-form-label">Descripción</label>
                        <textarea type="text" class="form-control" id="inputDescription" formControlName="description">
                    </textarea>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-4">
                        <label for="inputState" class="col-form-label">Categoria</label>
                        <select id="inputState" class="form-control" [(ngModel)]="product.categoryProduct"
                            [ngModelOptions]="{standalone: true}">
                            <option value="" disabled selected>Seleccione una opción...</option>
                            <option *ngFor="let item of categories" [ngValue]="item">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState" class="col-form-label">Tipo</label>
                        <select id="inputState" class="form-control" [(ngModel)]="product.typeProduct"
                            [ngModelOptions]="{standalone: true}">
                            <option value="" disabled selected>Seleccione una opción...</option>
                            <option *ngFor="let item of types" [ngValue]="item">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label for="inputState" class="col-form-label">Impuesto</label>
                        <select id="inputState" class="form-control" [(ngModel)]="product.taxProduct"
                            [ngModelOptions]="{standalone: true}">
                            <option value="" disabled selected>Seleccione una opción...</option>
                            <option *ngFor="let item of taxes" [ngValue]="item">
                                {{item.name}}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="nameProduct" class="col-form-label">Nombre</label>
                        <input type="text" class="form-control" id="nameProduct" formControlName="nameProduct">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="codeProduct" class="col-form-label">Código</label>
                        <input type="text" class="form-control" id="codeProduct" formControlName="codeProduct">
                    </div>
                </div>
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="purchasePrice" class="col-form-label">Precio Compra</label>
                        <input type="text" class="form-control" id="purchasePrice" formControlName="purchasePrice">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="salePrice" class="col-form-label">Precio Venta</label>
                        <input type="text" class="form-control" id="salePrice" formControlName="salePrice">
                    </div>
                </div>

                <div class="form-group">
                    <div class="custom-control custom-checkbox">
                        <input type="checkbox" class="custom-control-input" id="checkout" formControlName="status">
                        <label class="custom-control-label" for="checkout">Activo</label>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-md-6">
                        <button type="submit" class="btn btn-primary">Guardar</button>
                    </div>
                    <div class="form-group col-md-6 text-right">
                        <button type="submit" class="btn btn-danger">Cancelar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- end row -->