<ng-template #content let-modal>
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Catálogo</h4>
        <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="form-group">
            <div class="col-12">
                <label for="username">Empresa: </label>
                <app-multiselect-field [labelKey]='"nameCompany"' [primaryKey]='"id"'
                    [textPlaceholder]='"Empresas"' [selectedItemsInit]='companiesSelected'
                    [dropdownListInput]='modalCatalogProductPresenter.view.companiesAdmin'
                    (changeSelectedItems)="selectedCompanies($event)"></app-multiselect-field>
            </div>
        </div>
        <form class="form-horizontal" [formGroup]="valueForm">
            <div class="form-group">
                <div class="col-12">
                    <label for="username">Nombre: </label>
                    <input class="form-control" type="text" id="name" formControlName="name"
                        placeholder="Nombre Catálogo">
                </div>
            </div>
        </form>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-outline-primary" (click)="modal.close()">Guardar</button>
    </div>
</ng-template>

<button *ngIf="catalogSelect" class="btn btn-outline-success btn-sm" (click)="open(content)"> 
    <i class="far fa-edit"></i></button>
<button *ngIf="!catalogSelect" class="btn btn-outline-primary btn" (click)="open(content)">
    <i class="mdi mdi-foursquare"></i> Agregar</button>