/* You can add global styles to this file, and also import other style files */
.pointer{
    cursor: pointer;
}

.selected-list .c-list .c-token {
    background: #348cd4 !important;
    color: white !important;
}

.c-btn {
    color: #6c757dac !important;
}