<!-- ========== Left Sidebar Start ========== -->
<div class="left-side-menu">

    <div class="slimscroll-menu">

        <!--- Sidemenu -->
        <div id="sidebar-menu">

            <ul class="metismenu" id="side-menu">

                <li class="menu-title">Administración</li>

                <li>
                    <a [routerLink]="'dashboard'">
                        <i class="mdi mdi-tablet-dashboard"></i>
                        <span class="badge badge-danger badge-pill float-right">3</span>
                        <span> Dashboard </span>
                    </a>
                </li>

                <li>
                    <a href="#">
                        <i class=" fas fa-dolly-flatbed"></i>
                        <span> Compras </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="#">Historial Compras</a></li>
                        <li><a href="#">Agregar Compra</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="far fa-money-bill-alt"></i>
                        <span> Ventas </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="#">Historial Ventas</a></li>
                        <li><a href="#">Agregar Venta</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fe-box"></i>
                        <span> Productos </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="#">Catálogos</a></li>
                        <li><a href="#">Productos</a></li>
                        <li><a href="#">Impuestos</a></li>
                        <li><a href="#">Tipos</a></li>
                        <li><a href="#">Categorías</a></li>
                    </ul>
                </li>

                <li>
                    <a href="#">
                        <i class="fe-bar-chart-2"></i>
                        <span> Reportes </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="#">Reporte de Ventas</a></li>
                        <li><a href="#">Reporte de Cajas</a></li>
                        <li><a href="#">Stock</a></li>
                    </ul>
                </li>

                <li class="menu-title mt-2">Configuración</li>

                <li>
                    <a href="#">
                        <i class="fe-map"></i>
                        <span> Usuarios </span>
                        <span class="menu-arrow"></span>
                    </a>
                    <ul class="nav-second-level" aria-expanded="false">
                        <li><a href="maps-google.html">Usuarios</a></li>
                        <li><a href="maps-google.html">Empresa</a></li>                       
                    </ul>
                </li>


                <li>
                    <a href="#">
                        <i class="fas fa-cash-register"></i>
                        <span> POS </span>
                    </a>
                </li>

            </ul>

        </div>
        <!-- End Sidebar -->

        <div class="clearfix"></div>

    </div>
    <!-- Sidebar -left -->

</div>